#
Aprendendo SQL

## O que é uma CTE?

* Uma CTE (Common Table Expression) é uma construção que permite criar uma tabela temporária nomeada dentro de uma consulta SQL. Ela melhora a legibilidade e organização do código, tornando as consultas mais fáceis de entender e reutilizar.

As CTEs são declaradas com a palavra-chave WITH, seguida pelo nome da expressão, os nomes das colunas (opcional) e a consulta SQL que define os dados da CTE.

``` sql
WITH nome_da_CTE (coluna1, coluna2, ...) AS (
    -- Consulta que define a CTE
    SELECT coluna1, coluna2
    FROM tabela_origem
    WHERE condição
)
-- Consulta principal que usa a CTE
SELECT *
FROM nome_da_CTE;
```

**Benefícios do Uso de CTEs:**

Melhor organização do código – Permite dividir consultas complexas em partes menores e reutilizáveis.
Reutilização de código – Pode ser usada várias vezes dentro da mesma consulta.
Melhora a performance em alguns casos – Principalmente quando evita junções repetitivas ou subqueries aninhadas.
Facilidade para consultas recursivas – Útil para hierarquias, como estrutura de funcionários em uma empresa.

Exemplo 1: Uso básico de uma CTE
Vamos supor que temos uma tabela vendas e queremos calcular as vendas médias por cliente:

``` sql
WITH vendas_cliente AS (
    SELECT cliente_id, SUM(valor) AS total_vendas
    FROM vendas
    GROUP BY cliente_id
)
SELECT cliente_id, total_vendas
FROM vendas_cliente
WHERE total_vendas > 1000;

```