## 📌 O que são Funções Agregadas no SQL?

As **funções agregadas** no SQL realizam cálculos sobre um conjunto de valores e retornam um único resultado. Elas são essenciais para análise de dados, permitindo calcular totais, médias, contagens e encontrar valores mínimos ou máximos dentro de um conjunto de registros.

Essas funções são frequentemente utilizadas com a cláusula <i>**GROUP BY**</i> para agrupar os dados e gerar métricas importantes.

### 📌 Principais Funções Agregadas no SQL

```
🔹 SUM()   – Retorna a soma dos valores em uma coluna numérica.
```

```
🔹 AVG() – Retorna a média dos valores em uma coluna numérica.
```

```
🔹 COUNT() – Retorna o número de registros em um conjunto de dados.
```

```
🔹 MAX() – Retorna o maior valor dentro de um conjunto de registros.
```

```
🔹 MIN() – Retorna o menor valor dentro de um conjunto de registros.
```

### 🎯 Explicação e Exemplos Práticos

```
SUM() – Soma de valores
```

A função SUM() é usada para calcular a soma total dos valores de uma coluna numérica.

Exemplo:

Vamos supor que temos uma tabela vendas com os seguintes campos:

📌 id\_venda, cliente\_id, valor, data\_venda

Queremos calcular o total de vendas realizadas:

``` sql
SELECT SUM(valor) AS total_vendas
FROM vendas;
```
✅ Retorna o total das vendas registradas na tabela.